.call{
    display: flex;
}

.whatsapp{
    display: flex;
}


.email{
    display: flex;
}


.all{
    margin-left: 50px;
}


.contact{
    margin-left: 500px;
    margin-top: 150px;
}

header{
    background-color: pink;
}

.header{
    margin-left: 650px;
}

body{
    background-color: antiquewhite;
}